<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
	{{!-- <link rel="stylesheet" href="/assets/css/style.css" type="text/css" /> --}}
	<link rel="shortcut icon" type="image/png" href="../../favicon.ico"/>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.4.2/handlebars.min.js" integrity="sha256-oh7N5nthuhldTk8/34Za7FXv3BkeVN9vAnYk/pLfC78=" crossorigin="anonymous"></script> --}}
	<script src="../../public/assets/js/burger.js"></script>
	<title>Eat-Da-Burger Menu</title>
</head>

<body>
	<img src="/public/assets/img/burger.png" width="400px" id="burgerPic">
	{{{ body }}}
</body>
</html>